@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');
:root {
    --moneed-brand-color: #25c5ad;
    --moneed-brand-point: #00ecc9;
    --moneed-navy: #46467f;
    --moneed-blue: #266df1;
    --moneed-blue-light: #eef7ff;
    --moneed-green: #1bcb1b;
    --moneed-green-light: #f4fff5;
    --moneed-red: #f60007;
    --moneed-red-light: #ffeaf0;
    --moneed-bred-light: #fff4f4;
    --moneed-black: #171717;
    --moneed-black-3: #f9fafc;
    --moneed-shade-bg: #efeff3;
    --moneed-gray-9: #454954;
    --moneed-gray-8: #5e6167;
    --moneed-gray-7: #86898f;
    --moneed-gray-6: #bbbdc3;
    --moneed-gray-5: #e4e6ea;
    --moneed-gray-4: #f0f1f4;
    --moneed-gray-3: #fbfbfb;
    --moneed-gray-2: #fbfbfb;
    --moneed-gray-1: #fdfdfe;
    --moneed-white: #ffffff;
}
html {
    font-size: 10px !important;
}
body,
button,
select,
textarea,
input {
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
}
* {
    box-sizing: border-box;
}
body,
html,
#root {
    height: 100%;
}
@media (max-width: 374px) {
    html {
        font-size: 2.66vw !important;
    }
}
