@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .mask-right {
        -webkit-mask-image: linear-gradient(to left, transparent, #000 4.8rem);
        mask-image: linear-gradient(to left, transparent, #000 4.8rem);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
}
